@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

//PAGES
@import './_index';


//COMPONENT
@import './header';

html, body {
    height:100%;
    width:100%;
    font-family: 'Montserrat', 'Helvetica';
  }

  .absolute {
    position: absolute;
  }
  .base-page{
      padding-top:150px;
  }
   